@import "tailwindcss";

.react-calendar {
  border: 2px solid #38bdf8;
  background: white;
  border-radius: 1rem;
  box-shadow: 0 0 0 3px rgba(0,0,0,0.05);
  width: 100%;
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.125em;
  font-size: 1.125em;
  min-height: 300px;
  
  
}

.react-calendar__tile {
  padding: 1rem !important;
}

.react-calendar__tile--now {
  background: #e0f2fe !important;
}

.react-calendar__tile--active {
  background: #38bdf8 !important;
  color: white !important;
}
